default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: redis_counter_cache_development

test:
  <<: *default
  database: redis_counter_cache_test
